[submodule "opensource/busybox/busybox"]
	path = opensource/busybox/busybox
	url = git://busybox.net/busybox.git
[submodule "opensource/uboot/ti-u-boot"]
	path = opensource/uboot/ti-u-boot
	url = git://git.ti.com/ti-u-boot/ti-u-boot.git
[submodule "opensource/qt/qt"]
	path = opensource/qt/qt
	url = git://code.qt.io/qt/qt.git
[submodule "opensource/linux/ti-linux-kernel"]
	path = opensource/linux/ti-linux-kernel
	url = git://git.ti.com/ti-linux-kernel/ti-linux-kernel.git
